@*<div class="footer">
    <div class="float-right">
         
    </div>
    <div>
        <strong>Copyright</strong> SecuDev Employee Tracker&copy;@DateTime.Now.Year - @DateTime.Now.AddYears(1).Year
    </div>
</div>*@
